{% load query_parameters %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Observer</title>
      <!-- Custom fonts for this template-->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      {% load static %}
      <!-- Custom styles for this template -->
      <link href="{% static "web/css/observer.css" %}" rel="stylesheet">
   </head>
   <body id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">
         <!-- Sidebar -->
         <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <div class="sidebar-brand d-flex align-items-center justify-content-center">
               <div class="sidebar-brand-text mx-3">Observer</div>
            </div>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
               My Organisations
            </div>
            <!-- Nav Item - Organisations -->
            {% for entry in org_list %}
            {% if entry.name == org_name %}
            <li class="nav-item active">
               {% else %}
            <li class="nav-item">
               {% endif %}
               <a class="nav-link" href="#" onclick="filterOrg('{{ entry.id }}');">
               <i class="fas fa-fw fa-building"></i>
               <span>{{ entry.name }}</span></a>
            </li>
            {% endfor %}
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
               My Country
            </div>
            <!-- Nav Item - My Country -->
            <li class="nav-item">
               <a class="nav-link" href="/geo">
               <i class="fas fa-fw fa-globe"></i>
               <span>{{ home_country }}</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
               Operations
            </div>
            <!-- Nav Item - Operations -->
            <li class="nav-item">
               <a class="nav-link" href="/logout/">
               <i class="fas fa-fw fa-bomb"></i>
               <span>Logout</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
               <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
         </ul>
         <!-- End of Sidebar -->
         <!-- Content Wrapper -->
         <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
               <!-- Topbar -->
               <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                  <!-- Topbar Navbar -->
                  <ul class="navbar-nav ml-auto">
                     <!-- Nav Item - View Configuration -->
                     <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="daysDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 font-weight-bold text-uppercase small">Days to Show</span>
                        </a>
                        <!-- Dropdown - Days to Display -->
                        <div class="dropdown-menu shadow animated--grow-in" aria-labelledby="daysDropdown">
                           <a class="dropdown-item" href="#" onclick="filterDays(1);">
                           1
                           </a>
                           <a class="dropdown-item" href="#" onclick="filterDays(3);">
                           3
                           </a>
                           <a class="dropdown-item" href="#" onclick="filterDays(5);">
                           5
                           </a>
                           <a class="dropdown-item" href="#" onclick="filterDays(7);">
                           7
                           </a>
                           <a class="dropdown-item" href="#" onclick="filterDays(14);">
                           14
                           </a>
                        </div>
                     </li>
                  </ul>
               </nav>
               <!-- End of Topbar -->
               <!-- Begin Page Content -->
               <div class="container-fluid">
                  {% if error %}
                  <!-- Start of Error View -->
                  <!-- Page Heading -->
                  <div class="d-sm-flex align-items-center justify-content-between mb-4">
                     <h1 class="h3 mb-0 text-gray-800">Howdy!</h1>
                  </div>
                  <!-- Content Row -->
                  <div class="row">
                     <!-- Area Chart -->
                     <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                           <!-- Card Header - Dropdown -->
                           <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                              <h6 class="m-0 font-weight-bold text-primary">Message</h6>
                           </div>
                           <!-- Card Body -->
                           <div class="card-body">
                              <p class="card-text">{{ error }}</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% else %}
                  <!-- Start of Standard View -->
                  <!-- Page Heading -->
                  <div class="d-sm-flex align-items-center justify-content-between mb-4">
                     <h1 class="h3 mb-0 text-gray-800">Viewing: {{ org_name }}</h1>
                  </div>
                  <div class="d-sm-flex align-items-center justify-content-between mb-4">
                     {% if days == 1 %}
                     <h5 class="h5 mb-0 text-gray-800">Showing 1 day</h5>
                     {% else %}
                     <h5 class="h5 mb-0 text-gray-800">Showing {{ days }} days</h5>
                     {% endif %}
                  </div>
                  <!-- Content Row -->
                  <div class="row">
                     <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                           <div class="card-body">
                              <div class="row no-gutters align-items-center">
                                 <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Compromises</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ compromise_count }}</div>
                                 </div>
                                 <div class="col-auto">
                                    <i class="fas fa-exclamation fa-2x text-gray-300"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                           <div class="card-body">
                              <div class="row no-gutters align-items-center">
                                 <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">CVEs</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ cve_count }}</div>
                                 </div>
                                 <div class="col-auto">
                                    <i class="fas fa-bug fa-2x text-gray-300"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                           <div class="card-body">
                              <div class="row no-gutters align-items-center">
                                 <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Sensor Hits</div>
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ sensorhit_count }}</div>
                                 </div>
                                 <div class="col-auto">
                                    <i class="fas fa-eye fa-2x text-gray-300"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                           <div class="card-body">
                              <div class="row no-gutters align-items-center">
                                 <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pastes</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ paste_count }}</div>
                                 </div>
                                 <div class="col-auto">
                                    <i class="fas fa-sticky-note fa-2x text-gray-300"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Content Row -->
                  <div class="row">
                     <!-- Area Chart -->
                     <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                           <!-- Card Header - Dropdown -->
                           <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                              <h6 class="m-0 font-weight-bold text-primary">Observation Overview</h6>
                           </div>
                           <!-- Card Body -->
                           <div class="card-body">
                              <h4 class="small font-weight-bold text-gray-800">Hosts</h4>
                              <ul>
                                 {% for host in host_list %}
                                 <li class="card-text">{{ host.host.address }}</li>
                                 {% endfor %}
                              </ul>
                              <h4 class="small font-weight-bold text-gray-800">Domains</h4>
                              <ul>
                                 {% for domain in domain_list %}
                                 <li class="card-text">{{ domain.domain.domain }}</li>
                                 {% endfor %}
                              </ul>
                              <h4 class="small font-weight-bold text-gray-800">Emails</h4>
                              <ul>
                                 {% for email in email_list %}
                                 <li class="card-text">{{ email.email.email }}</li>
                                 {% endfor %}
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- End of Row -->
                  <!-- Content Row -->
                  <div class="row">
                     <!-- Content Column -->
                     <div class="col-xl-6 col-lg-6 mb-4">
                        <div class="card shadow mb-4">
                           <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Hosts</h6>
                           </div>
                           <div class="card-body">
                              {% for host in host_list %}
                              {% if forloop.first %}
                              <h4 class="small font-weight-bold text-gray-800">{{ host.host.address }}</h4>
                              {% else %}
                              <h4 class="small font-weight-bold text-gray-800 pad-top">{{ host.host.address }}</h4>
                              {% endif %}
                              {% if host.ports %}
                              <a data-toggle="collapse" href="#h{{ host.host.id }}_ports">
                                 <h5 class="small font-weight-bold">Open Ports</h5>
                              </a>
                              <ul class="collapse" id="h{{ host.host.id }}_ports">
                                 {% for port in host.ports %}
                                 <li class="card-text">{{ port.port }}</li>
                                 {% endfor %}
                              </ul>
                              {% else %}
                              <h5 class="small font-weight-bold">No Open Ports</h5>
                              {% endif %}
                              {% if host.cve %}
                              <a data-toggle="collapse" href="#h{{ host.host.id }}_cves">
                                 <h5 class="small font-weight-bold">CVEs</h5>
                              </a>
                              <ul class="collapse" id="h{{ host.host.id }}_cves">
                                 {% for vuln in host.cve %}
                                 <li class="card-text">{{ vuln.port }}: {{ vuln.cve }} (CVSS: {{ vuln.cvss }})</li>
                                 {% endfor %}
                              </ul>
                              {% else %}
                              <h5 class="small font-weight-bold">No CVEs</h5>
                              {% endif %}
                              {% if host.compromises %}
                              <a data-toggle="collapse" href="#h{{ host.host.id }}_comp">
                                 <h5 class="small font-weight-bold">Compromises</h5>
                              </a>
                              <ul class="collapse" id="h{{ host.host.id }}_comp">
                                 {% for compromise in host.compromises %}
                                 <li class="card-text"><b>{{ compromise.added }}:</b> {{ compromise.description }}</li>
                                 {% endfor %}
                              </ul>
                              {% else %}
                              <h5 class="small font-weight-bold">No Compromises</h5>
                              {% endif %}
                              {% if host.sensor_hits %}
                              <a data-toggle="collapse" href="#h{{ host.host.id }}_sensor">
                                 <h5 class="small font-weight-bold">Sensor Hits</h5>
                              </a>
                              <ul class="collapse" id="h{{ host.host.id }}_sensor">
                                 {% for sensor_hit in host.sensor_hits %}
                                 <li class="card-text"><b>{{ sensor_hit.added }}:</b> {{ sensor_hit.targetprotocol }} {{ sensor_hit.targetport }}</li>
                                 {% endfor %}
                              </ul>
                              {% else %}
                              <h5 class="small font-weight-bold">No Sensor Hits</h5>
                              {% endif %}
                              {% endfor %}
                           </div>
                        </div>
                        <!-- End of Card -->
                     </div>
                     <!-- End of Column -->
                     <div class="col-xl-6 col-lg-6 mb-4">
                        <div class="card shadow mb-4">
                           <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Domains</h6>
                           </div>
                           <div class="card-body">
                              {% for domain in domain_list %}
                              {% if forloop.first %}
                              <h4 class="small font-weight-bold text-gray-800">{{ domain.domain.domain }}</h4>
                              {% else %}
                              <h4 class="small font-weight-bold text-gray-800 pad-top">{{ domain.domain.domain }}</h4>
                              {% endif %}
                              {% if domain.compromises %}
                              <a data-toggle="collapse" href="#d{{ domain.domain.id }}_comp">
                                 <h5 class="small font-weight-bold">Compromises</h5>
                              </a>
                              <ul class="collapse" id="d{{ domain.domain.id }}_comp">
                                 {% for compromise in domain.compromises %}
                                 <li class="card-text"><b>{{ compromise.added }}:</b> {{ compromise.description }}</li>
                                 {% endfor %}
                              </ul>
                              {% else %}
                              <h5 class="small font-weight-bold">No Compromises</h5>
                              {% endif %}
                              {% endfor %}
                           </div>
                           <!-- End of Card -->
                        </div>
                        <!-- End of Column -->
                     </div>
                  </div>
                  <!-- End of Row -->
                  <!-- Content Row -->
                  <div class="row">
                     <!-- Content Column -->
                     <div class="col-xl-6 col-lg-6 mb-4">
                        <div class="card shadow mb-4">
                           <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Emails</h6>
                           </div>
                           <div class="card-body">
                              {% for email in email_list %}
                              {% if forloop.first %}
                              <h4 class="small font-weight-bold text-gray-800">{{ email.email.email }}</h4>
                              {% else %}
                              <h4 class="small font-weight-bold text-gray-800 pad-top">{{ email.email.email }}</h4>
                              {% endif %}
                              {% if email.compromises %}
                              <a data-toggle="collapse" href="#e{{ email.email.id }}_comp">
                                 <h5 class="small font-weight-bold">Compromises</h5>
                              </a>
                              <ul class="collapse" id="e{{ email.email.id }}_comp">
                                 {% for compromise in email.compromises %}
                                 <li class="card-text"><b>{{ compromise.added }}:</b> {{ compromise.description }}</li>
                                 {% endfor %}
                              </ul>
                              {% else %}
                              <h5 class="small font-weight-bold">No Compromises</h5>
                              {% endif %}
                              {% endfor %}
                           </div>
                        </div>
                        <!-- End of Card -->
                     </div>
                     <!-- End of Column -->
                     <div class="col-xl-6 col-lg-6 mb-4">
                        <div class="card shadow mb-4">
                           <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Pastes</h6>
                           </div>
                           <div class="card-body">
                              {% if paste_list %}
                              {% for paste in paste_list %}
                              {% if forloop.first %}
                              <h4 class="small font-weight-bold text-gray-800">{{ paste.title }}</h4>
                              {% else %}
                              <h4 class="small font-weight-bold text-gray-800 pad-top">{{ paste.title }}</h4>
                              {% endif %}
                              <a data-toggle="collapse" href="#p{{ paste.id }}_matches">
                                 <h5 class="small font-weight-bold">Keywords</h5>
                              </a>
                              <ul class="collapse" id="p{{ paste.id }}_matches">
                                 {% for match in paste.matches %}
                                 <li class="card-text">{{ match }}</li>
                                 {% endfor %}
                              </ul>
                              <a data-toggle="collapse" href="#p{{ paste.id }}_details">
                                 <h5 class="small font-weight-bold">Details</h5>
                              </a>
                              <ul class="collapse" id="p{{ paste.id }}_details">
                                 <li class="card-text"><b>Created:</b> {{ paste.added }}</li>
                                 <li class="card-text"><b>Source:</b> <a href="{{ paste.url }}" target="_blank" rel="noopener">{{ paste.url }}</a></li>
                              </ul>
                              {% endfor %}
                              {% else %}
                              <h5 class="small font-weight-bold">None found.</h5>
                              {% endif %}
                           </div>
                           <!-- End of Card -->
                        </div>
                        <!-- End of Column -->
                     </div>
                  </div>
                  <!-- End of Row -->
                  {% endif %}
               </div>
               <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
               <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                     <span>Copyright &copy; Chris Campbell 2019</span>
                  </div>
               </div>
            </footer>
            <!-- End of Footer -->
         </div>
         <!-- End of Content Wrapper -->
      </div>
      <!-- End of Page Wrapper -->
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
      </a>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
      <script>
         function filterOrg(orgId) {
           var url = new URL(window.location.href);
           url.searchParams.set('org', orgId);
           window.location.replace(url.toString());
         }
         function filterDays(days) {
           var url = new URL(window.location.href);
           url.searchParams.set('days', days);
           window.location.replace(url.toString());
         }
      </script>
      <script>
         (function($) {
           "use strict"; // Start of use strict
         
           // Toggle the side navigation
           $("#sidebarToggle, #sidebarToggleTop").on('click', function(e) {
             $("body").toggleClass("sidebar-toggled");
             $(".sidebar").toggleClass("toggled");
             if ($(".sidebar").hasClass("toggled")) {
               $('.sidebar .collapse').collapse('hide');
             };
           });
         
           // Close any open menu accordions when window is resized below 768px
           $(window).resize(function() {
             if ($(window).width() < 768) {
               $('.sidebar .collapse').collapse('hide');
             };
           });
         
           // Prevent the content wrapper from scrolling when the fixed side navigation hovered over
           $('body.fixed-nav .sidebar').on('mousewheel DOMMouseScroll wheel', function(e) {
             if ($(window).width() > 768) {
               var e0 = e.originalEvent,
                 delta = e0.wheelDelta || -e0.detail;
               this.scrollTop += (delta < 0 ? 1 : -1) * 30;
               e.preventDefault();
             }
           });
         
           // Scroll to top button appear
           $(document).on('scroll', function() {
             var scrollDistance = $(this).scrollTop();
             if (scrollDistance > 100) {
               $('.scroll-to-top').fadeIn();
             } else {
               $('.scroll-to-top').fadeOut();
             }
           });
         
           // Smooth scrolling using jQuery easing
           $(document).on('click', 'a.scroll-to-top', function(e) {
             var $anchor = $(this);
             $('html, body').stop().animate({
               scrollTop: ($($anchor.attr('href')).offset().top)
             }, 1000, 'easeInOutExpo');
             e.preventDefault();
           });
         
         })(jQuery); // End of use strict
      </script>
   </body>
</html>
